@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .user-type{
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      margin-top: 20px;
    }
  }